.feature {
    display: flex;
    justify-content: flex-start;
}
.feature__icon {
    width: rem(45px);
    height: rem(45px);
    margin-right: rem(7px);
    fill: #fff;
}
.feature__text {
    font-size: rem(16px);
    max-width: rem(85px);
}