.section {
    height: rem(650px);
    min-height: rem(650px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--font--color--green {
        color: $darkGreen;
        .section__title {
            color: inherit;
        }
    }
    @include phones {
        height: rem(800px);
    }
    @include tablets {
        height: rem(1000px);
    }
}
.section__title {
    font-size: rem(48px);
    font-weight: bold;
    margin-bottom: rem(33px);
    text-align: center;
    text-transform: uppercase;
    color: #000;
    @include phones {
        margin-bottom: rem(25px);
    }
}
.section__title-reviews {
    margin-bottom: rem(25px);
}
.section__reviews {
    background: url("../../img/berrygold.png") top 6% right 2% no-repeat;
}